<div class="w-64 bg-gradient-to-r from-gray-50 via-gray-100 to-gray-100 rounded-lg animated fadeIn p-2 m-6">
    <div class="bg-white cursor-pointer">
      <a target="_blank" (click)="seeDetails(item)"><img [src]="item.images"></a>
    </div>
    <div class="text-gray-700 flex flex-col">
      <span class="font-bold text-lg">{{item.name}}</span>
      <p class="text-sm">{{item.release_date}}</p>
    </div>
    <div class="card-action center">
      <div class="chip" *ngFor="let y of item.artists">
        {{y.name}}
      </div>
    </div>
  </div>