
<nav class="navbar navbar-expand-xl navbar-dark bg-dark kam">
    <div class="container-fluid">
        <img src="assets/images/logo.svg" alt="" width="50" height="50" class="m-2">
      <a class="navbar-brand" href="">Muzix</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Go Premium</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/favorites">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/recommended"  tabindex="-1" aria-disabled="false">Recommended</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Downloads
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="">Action</a></li>
              <li><a class="dropdown-item" href="">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="">Something else here</a></li>
            </ul>
        </ul>
        <div class="cur">
        <img src="assets/images/search.svg" (click)="clickEvent()" alt="" width="45" height="45" class="m-2">
        <label class="bag cur">Search songs</label>
        </div>
          <!-- <input class="form-control me-2 srch" type="search" placeholder="Search for music" aria-label="Search" (keyup.enter)="searchArtist(inputSearchArtist.value)" #inputSearchArtist> -->
          <!-- <button class="btn btn-outline-success" type="submit" (click)="searchArtist(inputSearchArtist.value)">Search</button> -->
      </div>
    </div>
  </nav>